//подключение шрифтов
@font-face {
  font-family: 'Georgia-bold';
  src: url('../assets/fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
    url('../assets/fonts/Georgia/Georgia-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia-normal';
  src: url('../assets/fonts/Georgia/Georgia.woff2') format('woff2'),
    url('../assets/fonts/Georgia/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial/Arial.woff2') format('woff2'),
    url('../assets/fonts/Arial/Arial.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
